.crc-box .card{
    height: 43px;
    width: 43px;
    background-color: #e9e9fc;
    font-size: 17px;

}

.img-box .card img{
    height: 72px;
    width: 72px;
    font-size: 17px;
    border-radius: 60px;
    object-fit: cover;
}
.img-box .card{
    text-align: center;
    height: 315px;
}


.rec-box{
    height: 29px;
    width: 82px;
    background-color: #edecfe;
    border-radius: 20px;
    color: #5146f1;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crc-sm{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #68d585;

}


.icons{
    display: flex;
}

.icons .icon{
    margin: 0 10px;
    cursor: pointer;
}

.icons .icon span{
    height: 40px;
    width: 40px;
    display: block;
    background-color: white;
    border-radius: 50%;
    text-align: center;

}

.icons .icon span i:hover{
    color: white;
}

.icons .icon span i{
    font-size: 25px;
    line-height: 40px;
}

.icons .icon .fb:hover span{
    background-color: #395498;
}

.icons .icon .tweet:hover span{
    background-color: #1c96e8;
}

.icons .icon .insta:hover span{
    background-color: #f7006d; 
}

.icons .icon .link:hover span{
    background-color: #007ab5; 
}

.listing{
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    margin-left: 0;
    padding: 0;
    margin-top: 20px;
}
.listing a{
    color: black;
    text-decoration: none;
}

